# Copy to .env (git-ignored). LOCAL INTEGRATION ONLY. Use a SAT *FIEL de pruebas*.
SAT_FIEL_CER=/home/linux/Documents/Dev/Certificados_Pruebas/Personas Físicas/CACX7605101P8_20230509114423/cacx7605101p8.cer
SAT_FIEL_KEY=/home/linux/Documents/Dev/Certificados_Pruebas/Personas Físicas/CACX7605101P8_20230509114423/Claveprivada_FIEL_CACX7605101P8_20230509_114423.key
SAT_FIEL_PASSWORD=12345678a
SAT_RFC=CACX7605101P8
